*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 40px;
}

body{
    background-color: #ffffff;
}
.cabecera-inicio{
    background-color: #f53036;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}
.hr-cabecera{
    border-bottom: 1px solid #ffffff;
}
.img-logo{
    width: 50px;
}
.div-nav-inicio{
    background-color: #f53036;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-nav-inicio>nav>ul{
    display: flex;
    flex-direction: row;
}
.li-nav-inicio{
    padding: 0 20px;
}
.li-nav-inicio>a{
    color: #ffffff;
}
.div-aside-contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.div-aside{
    width: 15%;
    border-right: 2px solid #f53036;
    text-align: center;
    padding: 50px 0;
}
.div-contenido{
    width: 85%;
    justify-content: center;
    text-align: center;
}
.section-video{
    padding-top: 35px;
}
.section-video>h1{
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 25px;
}
.parrafo-section-noticias{
    font-size: 32px;
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 25px;
}

.img-section-noticias{
    width: 400px;
    height: 250px;
}
.img-aside{
    width: 90%;
    margin-bottom: 25px;
}
.td-section-noticias{
    width: 300px;
    padding: 15px;
}
.parrafo-titulo-noticia{
    font-size: 22px;
    font-weight: bold;
    padding: 10px 25px;
}
.parrafo-cuerpo-noticia{
    font-size: 14px;
    font-weight: normal;
    padding: 0px 25px;
    text-align: justify;
    margin-bottom: 30px;
}
.parrafo-categoria-noticia{
    color: #f53036;
    font-style: italic;
    font-weight: bold;
    padding-bottom: 15px;
}
table.tabla-noticias {
    display: flex;
    justify-content: center;
}
.section-audio{
    margin-bottom: 25px;
}
footer{
    width: 100%;
    background-color: #f53036;
    color: #ffffff;
    text-align: center;
    padding: 30PX 0;
}
footer>h3{
    margin-bottom: 5px;
}
